**/.vscode/
**/.DS_Store
**/*.o
**/*.d
**/*.out
**/Account
**/phonebook
**/megaphone
**/Zombie
**/zombieHorde
**/Brain
**/UnnecessaryViolence
**/SedIsForLosers
**/*.replace
**/Harl
**/harlFilter
**/*_shrubbery
**/Fixed
**/bsp
**/ClapTrap
**/ScavTrap
**/FragTrap
**/DiamondTrap
**/animal
**/materia
**/Bureaucrat
**/convert
**/whatever
**/iter
**/Array
**/easyfind
**/Span
**/MutantStack